:root {
    --background: #f6f8f9;
    --blue-button: #47adf1;
    --editorial: #45abe9;
    --q1-goals: #9c72e4;
    --recruiting: #64c0a9;
    --mobile: #f29e33;
    --website: #d863a1;
    --sales: #b0c926;
    --font-colour: #444851;
    --check: #65c0a9;
    --cross: #eb5952;
}

* {
    font-family: "Roboto";
    font-weight: 500;
}

body {
    margin: 0;
    background-color: var(--background);
}

/* sezione header */
header {
    background-color: white;
    padding-left: 1rem;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}

#header-logo {
    vertical-align: middle;
}

/* sezione main */
main {
    background-color: white;
    margin: 3rem 10rem 0rem;
    border-radius: 10px;
    padding: 1rem 6rem;
}

/* sezione opzioni */
.blue-button {
    background-color: var(--blue-button);
    color: white;
    border-radius: 5px;
    border: 1px solid;
    border: none;
    padding: 8px;
    vertical-align: middle;
}

.grey-button {
    background-color: white;
    color: lightgray;
    border-radius: 5px;
    border: 1px solid;
    padding: 8px;
    vertical-align: middle;
}

hr {
    border: 1px solid var(--background);
    margin-left: -6rem;
    margin-right: -6rem;
}

/* sezione liste */
.task {
    color: var(--font-colour);
}

h3 {
    display: inline-block;
    font-weight: 900;
    margin-bottom: 0;
}

/* impostazioni check e cross */
.check {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    color: var(--check);
    border: 1px solid;
    border-radius: 50%;
    font-size: x-small;
    text-align: center;
    margin-right: 0.5rem;
}

.cross {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    color: var(--cross);
    border: 1px solid;
    border-radius: 50%;
    font-size: x-small;
    text-align: center;
    margin-right: 0.5rem;
}

/* impostazioni tag alla fine della lista */
.tag {
    color: white;
    font-size: xx-small;
    padding: 0.4rem 0.5rem;
    border-radius: 10px;
}

#editorial {
    background-color: var(--editorial);
}

#q1-goals {
    background-color: var(--q1-goals);
}

#recruiting {
    background-color: var(--recruiting);
}

#mobile {
    background-color: var(--mobile);
}

#website {
    background-color: var(--website);
}

#sales {
    background-color: var(--sales);
}