:root {
    --background: #f6f8f9;
    --blue-button: #47adf1;
    --editorial: #45abe9;
    --q1-goals: #9c72e4;
    --recruiting: #64c0a9;
    --mobile: #f29e33;
    --website: #d863a1;
    --sales: #b0c926;
    --font-colour: #444851;
}

* {
    font-family: "Roboto";
}

body {
    margin: 0;
    background-color: var(--background);
}

/* sezione header */
header {
    background-color: white;
    padding-left: 1rem;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

#header-logo {
    vertical-align: middle;
}

/* sezione main */
main {
    background-color: white;
    margin: 3rem 10rem 0rem;
    border-radius: 10px;
    padding: 1rem 6rem;
}

/* sezione opzioni */
.blue-button {
    background-color: var(--blue-button);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px;
    vertical-align: middle;
}

.grey-button {
    background-color: white;
    color: lightgray;
    border-radius: 5px;
    border: 1px solid;
    padding: 8px;
    vertical-align: middle;
}

hr {
    border: 1px solid var(--background);
    margin-left: -6rem;
    margin-right: -6rem;
}

/* sezione liste */
.task {
    color: var(--font-colour);
}

/* impostazioni check e cross */
.check {

}

.cross {

}

/* impostazioni tag alla fine della lista */
.tag {
    
}

#editorial {

}

#q1-goals {

}

#recruiting {

}

#mobile {

}

#website {

}

#sales {

}